.carouselCard {
  width: 17.1875rem;
  padding: 0.75rem;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.carouselCard article {
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
}

.carouselCard article:focus {
  box-shadow: 0 0 0 2px #4d90fe;
  border-radius: 6px;
}

.ImageContainer,
.flipContainer {
  border: none;
}

.flipContainer .card {
  transform: rotateY(180deg);
}

.card {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.carouselCardFlipDetails {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotateY(180deg);
  gap: 6px;
  border-radius: 6px;
  z-index: 999;
}

.carouselCardDetail {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  max-width: 80%;
  font-size: 0.75rem;
}

.iconClock {
  color: grey;
}
.iconChilli {
  color: red;
}
.iconStar {
  color: yellow;
}

.favourites {
  height: 2.25rem;
  width: 2.25rem;
  background-color: white;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: none;
  cursor: pointer;
}

.favourites:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4d90fe;
}

.favouriteContainer {
  right: 24px;
  top: 150px;
  position: absolute;
}

.heartIcon {
  font-size: 1.5rem;
  color: red;
}

.carouselCardFooter {
  margin-top: 0.5rem;
  padding-right: 0.75rem;
}

.name {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.description {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.125rem;
}
